#header {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top: 0;
  gap: 0;
  z-index: 999;
}

#logo {
  width: 100%;
  height: 400px;
  text-align:center;
  top: 0;
  border-radius: 0 0 20px 20px;
  z-index: 999;
}

/* body {
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.3), 
              inset 0px -10px 20px rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}*/

#header-img {
  height: 100%;
  width: 20%;
  border-radius: 20px;
  top: 0;
  gap: 0;
}

#nav-bar {
  display: flex;
  gap: 5%;
  margin-right: 5%;
  font-size: 120%;
}

button {
  background: linear-gradient(90deg, #FFFFFF, #FFF4C2);
  box-shadow: inset 0px 10px 20px #FFF4C2, 
              inset 0px -10px 20px #FFF4C2;
  left: 20px;
  align-items: right;
  height: 40px;
  width: 250px;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
}

button:hover {
  background: linear-gradient(90deg,
  #FFF4C2
  #FFFFFF,
  );
  color: #6F5200; /* darker text */
}

a {
  color: black;
}

main {
  text-align:center;
  margin: 5px;
}

h1 {
  padding-top: 50px;
  //font-family: Walbaum Display Heavy;
  font-family: Maiandra GD;
  font-size: 50px;
}

h2 {
  text-align: center;
}

#passage {
  padding-top: 15px;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  //font-size: 20px;
  font-family: 'Times New Roman';
}

#form {
  margin: 50px 0;
}

#email {
  width: 50%;
  height: 30px;
  border-radius: 2px;
}

#submit {
  margin-top: 15px;
  width: 150px;
  height: 30px;
  background-color: #F5D77A;
  border: none;
  border-radius: 8px;
}

#tb_1 {
  padding: 20px;
  width: 100%;
}

#small-img {
  width: 80px;
  float: right;
  padding-right: 50;
  padding-top: 30;
  padding-bottom: 30;
}

#tb-h2 {
  margin-right: 20;
  vertical-align: middle;
}

#video {
  width: 70%;
  margin: 0 auto;
  z-index: 1;
}



#mov_img_tb{
  border: 1;
  z-index: 1;
}

/* Slider full width */
.slider {
  width: 100%;
  height: 500px; /* set image height */
  overflow: hidden;
  position: relative;
}

/* Track with 10 images */
.slide-track {
  display: flex;
  width: calc(100% * 10); /* 10 slides */
  height: 500px;
  animation: scroll 50s steps(10) infinite;
}

/* One full big image per slide */
.slide {
  width: 10%;
  height: 500px;
  flex-shrink: 0;
}

.slide img {
  height: 500px;
  object-fit: cover;  /* perfect fit without stretch */
  border-radius: 10px;
}


/* Move exactly one screen per step */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%); /* -100% * 10 images */
  }
}






#products {
  margin-top: 100px;
  color: rgb(255, 50, 0);
  text-decoration: underline;
}

#pdt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin-top: 50px;
  margin-left: 15%;
}

#sub_pdt {
  width: 220px;
  height: 300px;
  background: linear-gradient(90deg, #FFF7CF, #FAE7A5);
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), 
              inset -4px -4px 8px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.3);
  margin: auto;
}

#sub_pdt:hover {
  background: linear-gradient(145deg, #FAE7A5, #FFF7CF);
}

#pdt_gap {
  height: 30px;
}

#pdt_1 {
  margin: auto;
}

#heading {
  font-family: "Times New Roman";
  font-size: 20px;
  color: rgb(30,100,10);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

ul {
  text-align: left;
  font-size: 16px;
  color: rgb(0, 100, 100);
}

button {
  width: 80px;
  height: 35px;
  margin-top: 25px;
  background-color: rgb(0, 200, 150);
  color: rgb(255, 0, 30);
  font-weight: bold;
  border: 0;
}

#review {
  margin-top: 50px;
  font-style: italic;
}

#footer {
  display: flex;
  justify-content: space-between;
  /*background-color: #F5D77A;*/
  background-color: #FAE7A5;
  gap: 0;
}

#ft-p {
  text-align: left;
  font-style: italic;
}


#ft-rws {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#div {
  margin:100px 15%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#ft_tbl {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#small_logos {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-top: 5px;
}















@media (min-width: 800px) {


  #email {
    width: 500px;
    height: 30px;
    border-radius: 2px;
  }
  
  #header-img {
    height: 150px;
    width: 350px;
  }

  #passage {
    font-size: 20px;
  }

  #products {
    margin-top: 100px;
    color: rgb(255, 50, 0);
    text-decoration: underline;
    font-size: 30px;
  }

  #pdt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-top: 50px;
    width: 75%;
  }

  #heading {
    font-family: "Times New Roman";
    font-size: 30px;
    color: rgb(30,100,10);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  #sub_pdt {
    width: 350px;
    height: 350px;
    border: solid rgb(0, 50, 0) 5px;
    border: 0;
    margin: 20px;
  }

  ul {
    text-align: left;
    font-size: 16px;
    color: rgb(0, 100, 100)
  }

  button {
    width: 120px;
    height: 45px;
    margin-top: 25px;
    background-color: rgb(0, 200, 150);
    color: rgb(255, 0, 30);
    font-weight: bold;
    border: 0;
  }

  #ft-p {
    align-items: center;
    margin: auto;
    font-style: italic;
  }

  #ft-rws {
    width: 100%;
  }
}




/* Phone display */
@media (max-width: 800px){

  #header-img {
    height : 100px;
  }

  h1 {
    font-size: 30px;
  }

  #passage {
    font-size: 12px;
  }  

  #video {
    width: 90%;
  }

  h3 {
    font-size: 12px;
  }

  .slide img {
    height: 250px;
    object-fit: cover;  /* perfect fit without stretch */
    border-radius: 10px;
  }

  #review {
    font-size: 15px;
  }

  #ft_tbl tr {
     display: flex;
     flex-direction: column;
  }

   #ft_tbl td {
     display: block;
     width: 100%;
   }

}
